* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    background-image: url('img/aereoporto.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.board {
    background-color: rgba(46, 46, 44, 0.308);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 20px 40px;
}

.orari h2 {
    color: rgb(248, 252, 7);
    margin-bottom: 20px;
    font-weight: normal;
}

h2 span {
    color: white;
    font-size: 20px;
}

.row span {
    color: rgb(209, 209, 31);
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    border: 2px inset rgba(0, 0, 0, 0.342);
    padding: 0 4px;
    background-color: rgba(128, 128, 128, 0.192);
}

hr {
    margin: 10px 0;
    height: 3px;
    background-color: yellow;
}

.departures {
    margin-top: 20px;
}